In [31]:
import pandas as pd
import numpy as np

In [11]:
ds=pd.Series([2,4,6,8,10])
print (ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [13]:
print (type(ds))

<class 'pandas.core.series.Series'>

In [17]:
print(ds.tolist())

[2, 4, 6, 8, 10]

In [18]:
print (ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
print(type(ds))

<class 'pandas.core.series.Series'>

In [20]:
print(type(ds.tolist()))

<class 'list'>

In [21]:
type1=pd.Series([2,4,6,8,10])
type2=pd.Series([1,3,5,7,9])

In [22]:
sum1=type1+type2
sum1

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [23]:
diff=type1-type2
diff

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [24]:
pro=type1*type2
pro

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [25]:
div=type1/type2
div

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [26]:
type1==type2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [27]:
type1>type2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [28]:
type1<type2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [29]:
dict1={"a":100,"b":200,"c":300,"d":400,"e":500}
dict1

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [30]:
pd.Series(dict1)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [33]:
test=np.array([10,20,30,40,50])
test

array([10, 20, 30, 40, 50])

In [34]:
pd.Series(test)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [35]:
test1=pd.Series([100,200,"pandas",300,400])
test1

0       100
1       200
2    pandas
3       300
4       400
dtype: object

In [40]:
pd.to_numeric(test1,errors="coerce")

0    100.0
1    200.0
2      NaN
3    300.0
4    400.0
dtype: float64

In [45]:
df={"col1":[1,2,3,4,7,11],"col2":[4,5,6,7,9,0],"col3":[7,5,8,12,1,11]}
df1=pd.DataFrame(df)
df1

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     7    12
4     7     9     1
5    11     0    11

In [51]:
df_new=df1.loc[:,"col1"]
df_new

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [52]:
pd.Series(df_new)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [53]:
np.array(test1)

array([100, 200, 'pandas', 300, 400], dtype=object)

In [54]:
test1

0       100
1       200
2    pandas
3       300
4       400
dtype: object

In [55]:
test1=pd.Series(test1)

In [56]:
test1

0       100
1       200
2    pandas
3       300
4       400
dtype: object

In [58]:
pd.Series(test1).sort_values()

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [64]:
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [66]:
pd.concat([s,pd.Series([500,"php"])])

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [68]:
s=pd.Series([1,2,3,4,5,6,7,8,9,10])
n=6
new_s=s[s<n]

In [69]:
new_s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [70]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [71]:
s.mean()

5.5

In [72]:
s.median()

5.5

In [73]:
s.std()

3.0276503540974917

In [77]:
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
result=sr1[~sr1.isin (sr2) ]
result

0    1
2    3
4    5
dtype: int64

In [78]:
df=pd.read_csv("titan.csv",index_col=[0])
df

                                                  Name  Survived
0                              Braund, Mr. Owen Harris         0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2                               Heikkinen, Miss. Laina         1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4                             Allen, Mr. William Henry         0
..                                                 ...       ...
886                              Montvila, Rev. Juozas         0
887                       Graham, Miss. Margaret Edith         1
888           Johnston, Miss. Catherine Helen "Carrie"         0
889                              Behr, Mr. Karl Howell         1
890                                Dooley, Mr. Patrick         0

[891 rows x 2 columns]

In [81]:
df.iloc[[0,1,6]]

                                                Name  Survived
0                            Braund, Mr. Owen Harris         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
6                            McCarthy, Mr. Timothy J         0

In [84]:
df.iloc[0,0]

'Braund, Mr. Owen Harris'

In [86]:
df.loc[[0,1,5],"Name"]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
5                                     Moran, Mr. James
Name: Name, dtype: object

In [87]:
df.loc[100:150]

                                                  Name  Survived
100                            Petranec, Miss. Matilda         0
101                   Petroff, Mr. Pastcho ("Pentcho")         0
102                          White, Mr. Richard Frasar         0
103                         Johansson, Mr. Gustaf Joel         0
104                     Gustafsson, Mr. Anders Vilhelm         0
105                              Mionoff, Mr. Stoytcho         0
106                   Salkjelsvik, Miss. Anna Kristine         1
107                             Moss, Mr. Albert Johan         1
108                                    Rekic, Mr. Tido         0
109                                Moran, Miss. Bertha         1
110                     Porter, Mr. Walter Chamberlain         0
111                               Zabour, Miss. Hileni         0
112                             Barton, Mr. David John         0
113                            Jussila, Miss. Katriina         0
114                              Attalah, Miss. Malake         0
115                              Pekoniemi, Mr. Edvard         0
116                               Connors, Mr. Patrick         0
117                    Turpin, Mr. William John Robert         0
118                           Baxter, Mr. Quigg Edmond         0
119                  Andersson, Miss. Ellis Anna Maria         0
120                        Hickman, Mr. Stanley George         0
121                         Moore, Mr. Leonard Charles         0
122                               Nasser, Mr. Nicholas         0
123                                Webber, Miss. Susan         1
124                        White, Mr. Percival Wayland         0
125                       Nicola-Yarred, Master. Elias         1
126                                McMahon, Mr. Martin         0
127                          Madsen, Mr. Fridtjof Arne         1
128                                  Peter, Miss. Anna         1
129                                 Ekstrom, Mr. Johan         0
130                               Drazenoic, Mr. Jozef         0
131                     Coelho, Mr. Domingos Fernandeo         0
132     Robins, Mrs. Alexander A (Grace Charity Laury)         0
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)         1
134                     Sobey, Mr. Samuel James Hayden         0
135                                 Richard, Mr. Emile         0
136                       Newsom, Miss. Helen Monypeny         1
137                        Futrelle, Mr. Jacques Heath         0
138                                Osen, Mr. Olaf Elon         0
139                                 Giglio, Mr. Victor         0
140                      Boulos, Mrs. Joseph (Sultana)         0
141                           Nysten, Miss. Anna Sofia         1
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...         1
143                                Burke, Mr. Jeremiah         0
144                         Andrew, Mr. Edgardo Samuel         0
145                       Nicholls, Mr. Joseph Charles         0
146       Andersson, Mr. August Edvard ("Wennerstrom")         1
147                   Ford, Miss. Robina Maggie "Ruby"         0
148           Navratil, Mr. Michel ("Louis M Hoffman")         0
149                  Byles, Rev. Thomas Roussel Davids         0
150                         Bateman, Rev. Robert James         0

In [88]:
df.loc[845:]

                                                  Name  Survived
845                                Abbing, Mr. Anthony         0
846                           Sage, Mr. Douglas Bullen         0
847                                 Markoff, Mr. Marin         0
848                                  Harper, Rev. John         0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)         1
850            Andersson, Master. Sigvard Harald Elias         0
851                                Svensson, Mr. Johan         0
852                            Boulos, Miss. Nourelain         0
853                          Lines, Miss. Mary Conover         1
854      Carter, Mrs. Ernest Courtenay (Lilian Hughes)         0
855                         Aks, Mrs. Sam (Leah Rosen)         1
856         Wick, Mrs. George Dennick (Mary Hitchcock)         1
857                             Daly, Mr. Peter Denis          1
858              Baclini, Mrs. Solomon (Latifa Qurban)         1
859                                   Razi, Mr. Raihed         0
860                            Hansen, Mr. Claus Peter         0
861                        Giles, Mr. Frederick Edward         0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...         1
863                  Sage, Miss. Dorothy Edith "Dolly"         0
864                             Gill, Mr. John William         0
865                           Bystrom, Mrs. (Karolina)         1
866                       Duran y More, Miss. Asuncion         1
867               Roebling, Mr. Washington Augustus II         0
868                        van Melkebeke, Mr. Philemon         0
869                    Johnson, Master. Harold Theodor         1
870                                  Balkic, Mr. Cerin         0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)         1
872                           Carlsson, Mr. Frans Olof         0
873                        Vander Cruyssen, Mr. Victor         0
874              Abelson, Mrs. Samuel (Hannah Wizosky)         1
875                   Najib, Miss. Adele Kiamie "Jane"         1
876                      Gustafsson, Mr. Alfred Ossian         0
877                               Petroff, Mr. Nedelio         0
878                                 Laleff, Mr. Kristo         0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)         1
880       Shelley, Mrs. William (Imanita Parrish Hall)         1
881                                 Markun, Mr. Johann         0
882                       Dahlberg, Miss. Gerda Ulrika         0
883                      Banfield, Mr. Frederick James         0
884                             Sutehall, Mr. Henry Jr         0
885               Rice, Mrs. William (Margaret Norton)         0
886                              Montvila, Rev. Juozas         0
887                       Graham, Miss. Margaret Edith         1
888           Johnston, Miss. Catherine Helen "Carrie"         0
889                              Behr, Mr. Karl Howell         1
890                                Dooley, Mr. Patrick         0

In [89]:
df.loc[845:,"Name"]

845                                  Abbing, Mr. Anthony
846                             Sage, Mr. Douglas Bullen
847                                   Markoff, Mr. Marin
848                                    Harper, Rev. John
849         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
850              Andersson, Master. Sigvard Harald Elias
851                                  Svensson, Mr. Johan
852                              Boulos, Miss. Nourelain
853                            Lines, Miss. Mary Conover
854        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
855                           Aks, Mrs. Sam (Leah Rosen)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
857                               Daly, Mr. Peter Denis
858                Baclini, Mrs. Solomon (Latifa Qurban)
859                                     Razi, Mr. Raihed
860                              Hansen, Mr. Claus Peter
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [90]:
import numpy as np

In [92]:
data = pd.DataFrame({
    "val":[1,2,3],
    "res":['Pass','Fail','Pass']
})
data

   val   res
0    1  Pass
1    2  Fail
2    3  Pass

In [93]:
df = pd.read_csv('survey_results_public.csv')
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [96]:
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

In [98]:
df_new=df.select_dtypes(["int64","float64"])

In [99]:
df_new

       Respondent  CompTotal  ConvertedComp  WorkWeekHrs  CodeRevHrs   Age
0               1        NaN            NaN          NaN         NaN  14.0
1               2        NaN            NaN          NaN         NaN  19.0
2               3    23000.0         8820.0         40.0         NaN  28.0
3               4    61000.0        61000.0         80.0         NaN  22.0
4               5        NaN            NaN         55.0         NaN  30.0
...           ...        ...            ...          ...         ...   ...
88878       88377        NaN            NaN          NaN         NaN   NaN
88879       88601        NaN            NaN          NaN         NaN   NaN
88880       88802        NaN            NaN          NaN         NaN   NaN
88881       88816        NaN            NaN          NaN         NaN   NaN
88882       88863        NaN            NaN          NaN         NaN  18.0

[88883 rows x 6 columns]

In [102]:
schema =pd.read_csv('survey_results_schema.csv')
schema

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [103]:
schema.loc[3,"QuestionText"]

'How often do you contribute to open source?'

In [104]:
df3 = pd.read_csv("survey_results_public.csv",index_col="Respondent")

In [105]:
df3

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [106]:
df3.dtypes

MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
Employment      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 84, dtype: object

In [108]:
df3.select_dtypes(["int64","float64"]).columns

Index(['CompTotal', 'ConvertedComp', 'WorkWeekHrs', 'CodeRevHrs', 'Age'], dtype='object')

In [109]:
schema.sort_index()

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [110]:
survey=pd.read_csv("survey_results_public.csv",index_col=[0])

In [111]:
survey

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [112]:
survey.loc[:30,"Age"]

Respondent
1     14.0
2     19.0
3     28.0
4     22.0
5     30.0
6     28.0
7     42.0
8     24.0
9     23.0
10     NaN
11    22.0
12    21.0
13    28.0
14    31.0
15    20.0
16    26.0
17    29.0
18     NaN
19    31.0
20    38.0
21     NaN
22    47.0
23    22.0
24    23.0
25    22.0
26    34.0
27    22.0
28     NaN
29    32.0
30    28.0
Name: Age, dtype: float64

In [113]:
survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [114]:
survey.loc[100:150,"Gender"]

Respondent
100    Woman
101      NaN
102      Man
103      Man
104      Man
105    Woman
106      Man
107      Man
108      Man
109      Man
110      Man
111      Man
112      Man
113      Man
114      Man
115      Man
116      Man
117      Man
118      Man
119      Man
120      Man
121      Man
122      Man
123      Man
124      Man
125      Man
126      Man
127      Man
128      Man
129      Man
130      Man
131      Man
132      Man
133      Man
134      Man
135      Man
136      Man
137      NaN
139      Man
140      Man
141      Man
142    Woman
143      NaN
144      Man
145      Man
146      Man
147      Man
148    Woman
149      Man
150    Woman
Name: Gender, dtype: object

In [116]:
survey["Country"].value_counts()

United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: Country, Length: 179, dtype: int64

In [118]:
survey.loc[1000:1050,["EdLevel","YearsCodePro"]]

,EdLevel,YearsCodePro
Respondent,,
1000,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3
1001,Some college/university study without earning ...,4
1002,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN
1003,"Secondary school (e.g. American high school, G...",NaN
1004,"Bachelor’s degree (BA, BS, B.Eng., etc.)",10
1005,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",2
1006,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3
1007,Some college/university study without earning ...,5
1008,Some college/university study without earning ...,20
1009,"Bachelor’s degree (BA, BS, B.Eng., etc.)",4
1010,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",6
1011,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",2
1012,Some college/university study without earning ...,2
1013,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Less than 1 year
1014,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",7
1015,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",12
1016,Some college/university study without earning ...,4
1017,"Bachelor’s degree (BA, BS, B.Eng., etc.)",6
1018,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN
1019,"Bachelor’s degree (BA, BS, B.Eng., etc.)",5
1020,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN
1021,Some college/university study without earning ...,21
1022,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",2
1023,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",10
1024,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3
1025,"Secondary school (e.g. American high school, G...",12
1026,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2
1027,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",6
1028,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Less than 1 year
1029,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",34
1030,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3
1031,Primary/elementary school,10
1032,"Bachelor’s degree (BA, BS, B.Eng., etc.)",4
1033,Some college/university study without earning ...,26
1034,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2
1035,"Bachelor’s degree (BA, BS, B.Eng., etc.)",15
1036,"Bachelor’s degree (BA, BS, B.Eng., etc.)",19
1037,"Bachelor’s degree (BA, BS, B.Eng., etc.)",6
1038,"Secondary school (e.g. American high school, G...",NaN
1039,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",10
1040,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN
1041,"Bachelor’s degree (BA, BS, B.Eng., etc.)",12
1042,"Bachelor’s degree (BA, BS, B.Eng., etc.)",12
1043,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",13
1044,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",4
1045,"Bachelor’s degree (BA, BS, B.Eng., etc.)",7
1046,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN
1047,"Secondary school (e.g. American high school, G...",NaN
1048,"Bachelor’s degree (BA, BS, B.Eng., etc.)",5
1049,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2
1050,Some college/university study without earning ...,1